{{!-- take advantage of CSS flex property --}}
<div class="sidebar-nav-wrapper">

  {{!-- sidebar --}}
  <div class="sidebar-nav-sidebar">
  
    
    <ul class="list-unstyled sidebar-nav-subheading">
      <p class="d-none d-sm-block">Cloud</p>
      <li>
        <div class="label">Backups</div>
        <div class="label">Snapshots</div>
      </li>
    </ul>
    
    
    <hr>
    
    
    <ul class="list-unstyled sidebar-nav-subheading">
      <p class="d-none d-sm-block">
        {{#link-to "agent"}}
          Agent
        {{/link-to}}
      </p>
      <li>
        <div class="label">
          {{#link-to "agent.service-instances"}}
            Service Instances
            <span class="badge badge-secondary">{{serviceInstance.agent.serviceInstances.length}}</span>
          {{/link-to}}
        </div>
        <div class="label">
          {{#link-to "agent.snapshot"}}
            Snapshots
            <span class="badge badge-secondary">{{serviceInstance.agent.snapshots.length}}</span>
          {{/link-to}}
        </div>
      </li>
    </ul>
    
    <ul class="list-unstyled sidebar-nav-subheading">
      <p class="d-none d-sm-block">Discover</p>
      <li>
        <span class="label">
          {{#link-to "agent.services"}}Marketplace{{/link-to}}
        </span>
      </li>
    </ul>
    
    
    <hr>
    
    
    <ul class="list-unstyled sidebar-nav-subheading">
      <p class="d-none d-sm-block">
        {{#link-to "agent.service-instance"}}
          Service Instance
        {{/link-to}}
      </p>
      <li>
        <div class="label">
          {{#link-to "agent.service-instance.accounts"}}
            Accounts
            <span class="badge badge-secondary">{{serviceInstance.accounts.length}}</span>
          {{/link-to}}
        </div>
        <div class="label">
          {{#link-to "agent.service-instance.domains"}}
            Domains
            <span class="badge badge-secondary">{{serviceInstance.domains.length}}</span>
          {{/link-to}}
        </div>
        <div class="label">Networking</div>
      </li>
    </ul>
    
    
  </div>
  
  <div class="sidebar-nav-content">
    {{yield}}
  </div>
  
</div>
