<div class="float-right">
  {{#if selectedAccounts.length}}
    <BsDropdown as |dd|>
      <dd.button>
        Actions
        <span class="badge badge-light">{{selectedAccounts.length}}</span>
        <span class="caret"/>
      </dd.button>
      <dd.menu as |menu|>
        <menu.item>
          <a href="#" {{action "bulkDelete" selectedAccounts}}>
            <FaIcon @icon="trash"/> Delete
          </a>
        </menu.item>
      </dd.menu>
    </BsDropdown>
  {{/if}}

  {{#link-to "agent.accounts.new"}}
    <button type="button" class="btn btn-secondary">
      New account
    </button>
  {{/link-to}}
</div>


{{#unless model.domains.length}}
  <p>
    A domain is required for each account, and you haven't created any yet. Click
    {{#link-to "agent.domains.new"}}here{{/link-to}} to create one now.
  </p>  
{{/unless}}



<h2>Accounts</h2>

<table class="table table-compact table-bordered">
  <thead>
    <th><Input @type="checkbox" @checked={{selectAll}}/></th>
    <th>Email</th>
    <th>Display Name</th>
    <th>Created</th>
  </thead>
  <tbody>
    {{#each model.accounts as |account|}}
      <tr>
        <td><Input @type="checkbox" @checked={{account._selected}}/></td>
        <td>{{account.email}}</td>
        <td>{{account.displayName}}</td>
        <td>{{moment-format account.createdAt "llll"}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
