<h2>Create a new email account</h2>

<form {{action "save" on="submit"}} class="container">

  <div class="form-group">
    <label for="name">Account name</label>
    <Input @id="name" @value={{model.name}} class="form-control"/>
    <small class="form-text text-muted">The account name is the email address prefix; everything up to the @.</small>
  </div>
  
  <div class="form-group">
    <label for="email">Email</label>
    <Input @id="email" @value={{model.email}} class="form-control" autocomplete="on" autocorrect="off" autocapitalize="off" spellcheck="false"/>
  </div>

  <div class="form-group">
    <label for="first">First name</label>
    <Input @id="first" @value={{model.first}} class="form-control"/>
  </div>
  
  <div class="form-group">
    <label for="last">Last name</label>
    <Input @id="last" @value={{model.last}} class="form-control"/>
  </div>
  
  <div class="form-group">
    <label for="displayName">Display name</label>
    <Input @id="displayName" @value={{model.displayName}} class="form-control"/>
    <small class="form-text text-muted">Combine the first and last names in a manner of your choosing.</small>
  </div>

  
  <div class="form-group">
    <button type="submit" class="btn btn-primary" {{action "save" model}} disabled={{model.isSaving}}>
      {{#if model.isSaving}}<FaIcon @icon="spinner" @spin={{true}}/>{{/if}}
      Save
    </button>
    {{#link-to "agent.service-instance"}}<button type="submit" class="btn btn-secondary">Cancel</button>{{/link-to}}
  </div>

</form>

{{outlet}}
