<h2>Register a new email account</h2>

<form {{action "register" on="submit"}} class="container">

  <div class="form-group">
    <label for="name">Account name</label>
    <Input @id="name" @value={{model.name}} class="form-control" placeholder="Enter account name"/>
  </div>
  
  <div class="form-group">
    <label for="email">Email</label>
    <Input @id="email" @value={{model.email}} class="form-control" placeholder="Enter Email address" autocomplete="on" autocorrect="off" autocapitalize="off" spellcheck="false"/>
  </div>

  
  <div class="form-group">
    <button type="submit" class="btn btn-primary" {{action "register" model}} disabled={{model.isSaving}}>
      {{#if model.isSaving}}<FaIcon @icon="spinner" @spin={{true}}/>{{/if}}
      Register
    </button>
    {{#link-to "agent.email"}}<button type="submit" class="btn btn-secondary">Cancel</button>{{/link-to}}
  </div>

</form>

{{outlet}}