<div class="float-right">
  {{#if selectedDomains.length}}
    <BsDropdown as |dd|>
      <dd.button>
        Domains {{selectedDomains.length}}
        <span class="caret"/>
      </dd.button>
      <dd.menu as |menu|>
        <menu.item>
          <a href="#" {{action "bulkDelete" selectedDomains}}>
            <FaIcon @icon="trash"/> Delete
          </a>
        </menu.item>
      </dd.menu>
    </BsDropdown>
  {{/if}}

  {{#link-to "agent.service-instance.domains.new"}}
    <button type="button" class="btn btn-secondary">
      New domain
    </button>
  {{/link-to}}  
  
</div>


<h2>Domains</h2>

<table class="table table-compact table-bordered">
  <thead>
    <th><Input @type="checkbox" @checked={{selectAll}}/></th>
    <th>Name</th>
    <th>Created</th>
  </thead>
  <tbody>
    {{#each model.domains as |domain|}}
      <tr>
        <td><Input @type="checkbox" @checked={{domain._selected}}/></td>
        <td>{{domain.name}}</td>
        <td>{{domain.createdAt}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
