<h2>Create a new email domain</h2>

<form {{action "save" on="submit"}} class="container">

  <div class="form-group">
    <label for="name">Domain name</label>
    <Input @id="name" @value={{model.name}} class="form-control"/>
  </div>
  
  <div class="form-group">
    <button type="submit" class="btn btn-primary" {{action "save" model}} disabled={{model.isSaving}}>
      {{#if model.isSaving}}<FaIcon @icon="spinner" @spin={{true}}/>{{/if}}
      Save
    </button>
    {{#link-to "agent.service-instance"}}<button type="submit" class="btn btn-secondary">Cancel</button>{{/link-to}}
  </div>

</form>

{{outlet}}
