<div class="row justify-content-center">
  <div class="col-xs-12">
    <table class="table table-compact">
      <tbody>
        <tr>
          <th>Service</th>
          <td>
            {{model.service.displayName}}
          </td>
        </tr>
        <tr>
          <th>Plan</th>
          <td>
            {{#link-to "agent.service.plan" model.service model.plan}}
              {{model.plan.displayName}}
            {{/link-to}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  
<div class="row justify-content-center">

  <div class="col-xs-6 col-sm-2">
    {{#link-to "agent.service-instance.accounts" class="text-decoration-none"}}
      <div class="card">
        <div class="card-header text-center">Accounts</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{model.accounts.length}}</h5>
        </div>
      </div>
    {{/link-to}}
  </div>
  
  <div class="col-xs-6 col-sm-2">
    {{#link-to "agent.service-instance.domains" class="text-decoration-none"}}
      <div class="card">
        <div class="card-header text-center">Domains</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{model.domains.length}}</h5>
        </div>
      </div>
    {{/link-to}}
  </div>

  <div class="col-xs-6 col-sm-2">
    {{#link-to "agent.service-instance.endpoints" class="text-decoration-none"}}
      <div class="card">
        <div class="card-header text-center">Endpoints</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{model.endpoints.length}}</h5>
        </div>
      </div>
    {{/link-to}}
  </div>

</div>
