<div class="jumbotron">
  <img src={{model.imageUrl}} alt={{concat model.displayName "Logo"}} class="float-left">
  <h1 class="display-4">{{model.displayName}}</h1>
  <p class="lead">{{model.description}}</p>
  <hr class="my-4">
  <p>{{safeLongDescription}}</p>
</div>

<div class="row">
  <div class="col-sm-4 col-md-3">
    <ul class="nav nav-tabs flex-column">
      {{#each model.plans as |plan|}}
        <li class="nav-item">
          {{#link-to "agent.service.plan" plan class="nav-link"}}
            {{plan.displayName}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-8 col-md-9">
    {{outlet}}
  </div>
</div>
