<AgentSidebar @agent={{model}}>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Agent</li>
      <li class="breadcrumb-item">
        {{#link-to "agent"}}{{model.agent.id}}{{/link-to}}
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Snapshots
      </li>
    </ol>
  </nav>
  
  <div class="panel">
    <legend>Take a snapshot</legend>
    <p>
      All snapshots are taken live, with guaranteed data consistency. This capability
      is fundamental to the design of our agent, which uses a single transactional
      embedded database for all services.
    </p>
    <p>
      All snapshots are transferred to secondary storage in the cloud. 
    </p>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-md-1 col-form-label">Name</label>
      <div class="col-sm-10 col-md-11">
        {{input id="input" value=model.name}}
        <button type="submit" class="btn btn-primary" {{action "takeSnapshot" model}}>Take snapshot</button>
      </div>
    </div>
  </div>
  
  
  <div class="panel">
    <legend>Snapshots ({{snapshotCount}})</legend>
    {{#if agent.snapshots.length}}
      <table class="table table-compact table-bordered">
        <tbody>
          {{#each agent.snapshots as |snapshot|}}
            {{#unless snapshot.isNew}}
              <tr>
                <td>{{snapshot.name}}</td>
                <td>{{moment-format snapshot.createdAt "llll"}}</td>
              </tr>
            {{/unless}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>None.</p>
    {{/if}}
  </div>
  
  
  {{outlet}}
</AgentSidebar>
