<AgentSidebar @agent={{model}}>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Agent</li>
      <li class="breadcrumb-item">
        {{#link-to "agent"}}{{model.agent.id}}{{/link-to}}
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Snapshots
      </li>
    </ol>
  </nav>
  
  <div class="container">
    <div class="panel">
      <legend>Take a snapshot</legend>
      <p>
        All snapshots are taken live, with guaranteed data consistency. This capability
        is fundamental to the design of our agent, which uses a single transactional
        embedded database for all services.
      </p>
      <p>
        All snapshots are transferred to secondary storage in the cloud. 
      </p>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-md-1 col-form-label">Name</label>
        <div class="col-sm-10 col-md-11">
          {{input id="input" value=model.name}}
          <button type="submit" class="btn btn-primary" {{action "takeSnapshot" model}}>Take snapshot</button>
        </div>
      </div>
    </div>
  
    <div class="panel">
      <legend>Snapshots ({{snapshotCount}})</legend>
      
      <div class="float-right">
        {{#if selectedSnapshots.length}}
          <BsDropdown as |dd|>
            <dd.button>
              Actions
              <span class="badge badge-light">{{selectedSnapshots.length}}</span>
              <span class="caret"/>
            </dd.button>
            <dd.menu as |menu|>
              <menu.item>
                <a href="#" {{action "bulkDelete" selectedSnapshots}}>
                  <FaIcon @icon="trash"/> Delete
                </a>
              </menu.item>
            </dd.menu>
          </BsDropdown>
        {{/if}}
      </div>
      
      
      {{#if agent.snapshots.length}}
        <table class="table table-compact table-bordered">
          <thead>
            <th><Input @type="checkbox" @checked={{selectAll}}/></th>
            <th>Name</th>
            <th>Size</th>
            <th>Status</th>
            <th>Created</th>
          </thead>
          <tbody>
            {{#each agent.snapshots as |snapshot|}}
              {{#unless snapshot.isNew}}
                <tr>
                  <td><Input @type="checkbox" @checked={{snapshot._selected}}/></td>
                  <td>{{snapshot.name}}</td>
                  <td>{{snapshot.size}}</td>
                  <td><SnapshotStatus @snapshot={{snapshot}}/></td>
                  <td>{{moment-format snapshot.createdAt "llll"}}</td>
                </tr>
              {{/unless}}
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>None.</p>
      {{/if}}
    </div>
  
  </div>
  
  
  {{outlet}}
</AgentSidebar>
