<BsModal @size="sm" @fade={{false}} @backdropClose={{false}} @onHide={{false}} @onSubmit={{action "authenticate"}} as |Modal|>
  <Modal.header>
    <h4 class="modal-title">Login</h4>
  </Modal.header>
  <Modal.body>
    <BsForm @onSubmit={{action "authenticate"}} as |form|>
    
      <form.group>
        <label for="username">Username</label>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          {{input id="username" value=username autocomplete="on" autocorrect="off" autocapitalize="off" spellcheck="false"}}
        </div>
      </form.group>
      
      <form.group>
        <label for="password">Password</label>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          {{input id="password" type="password" value=password}}
        </div>
      </form.group>
      
      <form.group>
        <button type="submit" class="btn btn-primary">Login</button>
      </form.group>
      
    </BsForm>
  </Modal.body>
  
  <Modal.footer>
    <p>Don't have an account yet? Click {{#link-to "register"}}here{{/link-to}} to register one.</p>
  </Modal.footer>
  
</BsModal>
